body{
    background-color: #58b1e7;
}
#clock
{
    color: #fff;
    font-size: 195px;
    background-color: #000;
    padding: 0.5em 0;
    width: 80%;
    margin: 0px auto;
    font-family: Helvetica;
    text-align: center;
}
span{
    margin-left: 175px;
}
#banner{
    color: #fefefe;
    font-size: 50px;
    text-align: center;
    background-color: #EB6C52;
    padding: 0.5em 0em;
    width: 80%;
    margin: 10% auto 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-transform: uppercase;
}